<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Calificaciones del Estudiante</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <h1>Calificaciones del Estudiante</h1>
            <h2 th:text="${estudiante.nombre}"></h2>
            <table class="table table-bordered table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>Materia</th>
                        <th>Calificación</th>
                        <th>Supervisado</th>
                        <th>Observaciones</th>
                        <th>Fecha de Supervisión</th>
                        <th>Acciones</th> <!-- Nueva columna para el botón "Check" -->
                    </tr>
                </thead>
                <tbody>
                    <!-- Itera sobre las calificaciones del estudiante y muestra los detalles de cada una -->
                    <tr th:each="calificacion : ${calificaciones}">
                        <td th:text="${calificacion.materia}"></td>
                        <td th:text="${calificacion.calificacion}"></td>
                        <td th:text="${calificacion.supervisado ? 'Sí' : 'No'}"></td>
                        <td th:text="${calificacion.observaciones}"></td>
                        <td th:text="${#dates.format(calificacion.fechaSupervision, 'dd/MM/yyyy HH:mm:ss')}"></td>
                        <td>
                            <form th:action="@{/checkCalificacion}" method="post">
                                <input type="hidden" name="calificacionId" th:value="${calificacion.id}" />
                                <button type="submit" class="btn btn-success">Check</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
            <a href="/estudiantes" class="btn btn-primary">Volver a la Lista de Estudiantes</a>
        </div>
    </body>
</html>